.altmedicare,
.sign-up {
  display: inline-block;
  height: 16px;
}
.altmedicare {
  position: absolute;
  top: 55.69px;
  left: 62.43px;
  font-size: 24px;
  font-weight: 900;
  width: 179px;
}
.sign-up {
  left: 728.66px;
  font-weight: 500;
  width: 116px;
}
.home,
.sign-up,
.verify {
  position: absolute;
  top: 58.27px;
}
.home {
  left: 302.66px;
  font-weight: 500;
  display: inline-block;
  width: 116px;
  height: 16px;
}
.verify {
  left: 444.66px;
}
.about,
.login,
.verify {
  font-weight: 500;
  display: inline-block;
  width: 116px;
  height: 16px;
}
.about {
  position: absolute;
  top: 60.27px;
  left: 870.66px;
  color: #817b7b;
}
.login {
  top: 58.27px;
  left: 586.66px;
}
.en,
.login,
.theme-icon {
  position: absolute;
}
.theme-icon {
  top: 57.46px;
  left: 1037.23px;
  width: 69.15px;
  height: 31.34px;
}
.en {
  top: 0;
  left: 0;
  font-weight: 500;
}
.language-dropdown-child {
  position: absolute;
  top: 7.73px;
  left: 25.65px;
  width: 10.63px;
  height: 5.06px;
}
.language-dropdown {
  position: absolute;
  top: 58.27px;
  left: 1132.66px;
  width: 36px;
  height: 18px;
  font-size: 15px;
}
.get-started-button {
  cursor: pointer;
  position: absolute;
  top: 394.69px;
  left: 63.96px;
  width: 208px;
  height: 66px;
}
.homepage-on-mac-book-air-child {
  position: absolute;
  top: 122px;
  left: 56.66px;
  width: 1112px;
  height: 2px;
}
.homepage-on-mac-book-air-inner,
.homepage-on-mac-book-air-item {
  position: absolute;
  top: 516px;
  left: 62.65px;
  width: 1126.99px;
  height: 8.64px;
}
.homepage-on-mac-book-air-inner {
  top: 1828px;
  left: 55.65px;
}
.discover-the-power {
  position: absolute;
  top: 176.68px;
  left: 63.61px;
  font-size: 40px;
  display: inline-block;
  font-family: var(--font-jost);
  width: 738.13px;
  height: 214.09px;
}
.rectangle-div {
  position: absolute;
  top: 573.71px;
  left: 59.53px;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.37);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
  width: 1115px;
  height: 416px;
  transform: rotate(-0.29deg);
  transform-origin: 0 0;
}
.a-website-with {
  margin: 0;
}
.verify-your-medicare- {
  margin-bottom: 0;
}
.verify-your-medicare-verify {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.a-website-with-container {
  top: 679.54px;
  left: 94.06px;
  font-size: var(--font-inherit);
  font-weight: 500;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 799px;
  height: 232px;
}
.a-website-with-container,
.homepage-on-mac-book-air-child1,
.purpose-of-our {
  position: absolute;
  transform: rotate(-0.29deg);
  transform-origin: 0 0;
}
.purpose-of-our {
  top: 609.54px;
  left: 93.71px;
  font-size: 30px;
  font-weight: 800;
  color: #515151;
  display: inline-block;
  width: 392px;
}
.homepage-on-mac-book-air-child1 {
  top: 1049.48px;
  left: 105.91px;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  width: 312px;
  height: 80px;
}
.verify-your-medicare {
  top: 1076.22px;
  left: 159.04px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 207px;
  height: 25px;
}
.alternative-medicare,
.homepage-on-mac-book-air-child2,
.verify-your-medicare {
  position: absolute;
  transform: rotate(-0.29deg);
  transform-origin: 0 0;
}
.homepage-on-mac-book-air-child2 {
  top: 1045.2px;
  left: 762.31px;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  width: 312px;
  height: 80px;
}
.alternative-medicare {
  top: 1072.94px;
  left: 815.03px;
  font-weight: 500;
  color: snow;
  display: inline-block;
  width: 207px;
  height: 25px;
}
.image-5-icon,
.line-icon {
  position: absolute;
  top: 1058.99px;
  left: 588.66px;
  width: 4px;
  height: 490.01px;
}
.image-5-icon {
  top: 184px;
  left: 799.66px;
  width: 390px;
  height: 295px;
  object-fit: cover;
}
.enter-the-information-container {
  top: 1192.71px;
  left: 61.62px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  width: 507px;
  height: 286px;
  transform: rotate(-0.29deg);
  transform-origin: 0 0;
}
.copyright-2023,
.enter-the-information-container,
.enter-the-name-container {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.enter-the-name-container {
  top: 1193.93px;
  left: 616.63px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  width: 604px;
  transform: rotate(-0.29deg);
  transform-origin: 0 0;
}
.copyright-2023 {
  top: 2027.35px;
  left: 734.88px;
  color: #170a00;
  width: 589.08px;
  height: 16px;
}
.privacy-policy,
.terms-and-conditions {
  position: absolute;
  top: 1879.27px;
  left: 151.06px;
  transform: rotate(-0.29deg);
  transform-origin: 0 0;
}
.privacy-policy {
  top: 1945.16px;
  left: 172.39px;
  font-weight: 500;
}
.contact {
  top: 1876.98px;
  left: 609.05px;
  font-weight: 500;
}
.about-us,
.contact,
.image-6 {
  position: absolute;
  transform: rotate(-0.29deg);
  transform-origin: 0 0;
}
.about-us {
  top: 1943.04px;
  left: 597.38px;
  font-weight: 500;
}
.image-6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1942.44px;
  left: 1117.38px;
  border-radius: 10px;
  width: 94px;
  height: 29px;
  background-image: url(./public/image6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-7-icon {
  position: absolute;
  top: 1881px;
  left: 1107.66px;
  width: 88px;
  height: 28px;
  object-fit: cover;
}
.download-our-app {
  position: absolute;
  top: 1946.45px;
  left: 915.4px;
  font-size: 16px;
  font-weight: 500;
  transform: rotate(-0.29deg);
  transform-origin: 0 0;
}
.image-5-icon1 {
  position: absolute;
  top: 571px;
  left: 697.66px;
  width: 454px;
  height: 457px;
  object-fit: cover;
}
.homepage-on-mac-book-air {
  position: relative;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 2068.53px;
  overflow: hidden;
  transform: rotate(0.29deg);
  transform-origin: 0 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
