.sign-in-child,
.sign-in-item {
  position: absolute;
  top: 0;
  height: 832px;
}
.sign-in-child {
  left: 675px;
  background-color: #d2e4cc;
  width: 905px;
}
.sign-in-item {
  left: 0;
  background: linear-gradient(#f9fcf8, #f9fcf8), #f9fcf8;
  width: 675px;
}
.altmedicare {
  position: absolute;
  top: 46px;
  left: 46.08px;
  font-size: var(--font-size-5xl);
  font-weight: 900;
  font-family: var(--font-inter);
  display: inline-block;
  width: 179px;
  height: 16px;
  transform: rotate(0.29deg);
  transform-origin: 0 0;
}
.en,
.theme-icon {
  position: absolute;
  top: 38px;
  left: 1107px;
  width: 67.04px;
  height: 30.34px;
}
.en {
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 18.42px;
  height: 17.43px;
}
.language-dropdown-child {
  position: absolute;
  top: 7.6px;
  left: 24.82px;
  width: 10.32px;
  height: 4.93px;
}
.language-dropdown {
  position: absolute;
  top: 44.27px;
  left: 1199.22px;
  width: 34.9px;
  height: 17.43px;
  transform: rotate(0.29deg);
  transform-origin: 0 0;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}
.email,
.password,
.please-enter-your,
.welcome-back {
  position: absolute;
  display: inline-block;
  transform: rotate(0.29deg);
  transform-origin: 0 0;
}
.welcome-back {
  top: 214.97px;
  left: 218.21px;
  font-size: 27px;
  font-weight: 600;
  width: 304.42px;
  height: 69.5px;
}
.email,
.password,
.please-enter-your {
  top: 256px;
  left: 230.1px;
  width: 158.75px;
  height: 19.21px;
}
.email,
.password {
  top: 339px;
  left: 170.1px;
  font-weight: 600;
}
.password {
  top: 415px;
}
.sign-in-inner {
  position: absolute;
  top: -0.5px;
  left: 674.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 833px;
}
.rectangle-div,
.sign-in-child1 {
  position: absolute;
  top: 366px;
  left: 170px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 296px;
  height: 27px;
}
.sign-in-child1 {
  top: 442px;
}
.sign-in-child2 {
  position: absolute;
  top: 495px;
  left: 223px;
  border-radius: 6px;
  background-color: var(--color-darkolivegreen);
  width: 196px;
  height: 27px;
}
.dont-have-an,
.enter-your-email {
  position: absolute;
  top: 369px;
  left: 180.1px;
  color: var(--color-darkgray);
  display: inline-block;
  width: 158.75px;
  height: 19.21px;
  transform: rotate(0.29deg);
  transform-origin: 0 0;
}
.dont-have-an {
  top: 529px;
  left: 235.1px;
  color: var(--color-darkolivegreen);
  width: 204.9px;
}
.altmedicare-20231,
.dont-have-an {
  font-weight: 500;
}
.altmedicare-2023 {
  top: 796px;
  left: 25.1px;
  color: var(--color-darkolivegreen);
  width: 204.9px;
  height: 19.21px;
}
.altmedicare-2023,
.div,
.sign-in1 {
  position: absolute;
  display: inline-block;
  transform: rotate(0.29deg);
  transform-origin: 0 0;
}
.div {
  top: 442px;
  left: 180.15px;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray);
  width: 64.71px;
  height: 29.79px;
}
.sign-in1 {
  top: 498px;
  left: 299.1px;
  font-weight: 500;
  color: var(--color-white);
  width: 60.46px;
  height: 19.21px;
}
.image-9-icon {
  position: absolute;
  top: 277px;
  left: 680px;
  width: 577px;
  height: 539px;
  object-fit: cover;
}
.sign-in {
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-hind);
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-hind: Hind;
  --font-inter: Inter;
  --font-inherit: inherit;
  --font-jost: Jost;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #a8a8a8;
  --color-darkolivegreen: #466443;
  --color-lightgray: #cecece;
  --color-cornflowerblue: #7475c4;

  /* Paddings */
  --padding-8xl: 27px;

  /* border radiuses */
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-31xl: 50px;
}